/* Thanks to  https://codepen.io/tayfunerbilen/pen/wvvKBeX */

.popup-container {
  display: inline-block;
}
.popup-container .popup-button {
  background: #333;
  line-height: 34px;
  color: #000;
  padding: 0 10px;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}

.popup-container .popup-button:hover {
  background: #444;
}

.popup-container .popup--D {
  background: #9cf;
}
.popup-container .popup--D:hover {
  background: #3498db;
}
.popup-container .popup--R {
  background: #ff5f5f;
}
.popup-container .popup--R:hover {
  background: #ca4840;
}
.popup-container .popup--multi {
  background: #c9f;
}
.popup-container .popup--multi:hover {
  background: #96c;
}

.popup-container .popup--committee--heard {
    background: #ee6;
    color: #333;
    font-weight: bold;
}
.popup-container .popup--committee--heard:hover {
    background: #ff0;
    color: #000;
    font-weight: bold;
}

.popup-container .popup--committee--current {
    background: #fff;
    color: #33f;
    font-weight: bold;
}
.popup-container .popup--committee--current:hover {
    background: #ff9;
    color: #000;
    font-weight: bold;
}

.popup-container .popup--committee--future {
    background: #ccc;
    color: #666;
    font-weight: bold;
}
.popup-container .popup--committee--current:hover {
    background: #fff;
    color: #000;
    font-weight: bold;
}

.committee-popup td {
    background: #f8f8f8;
}

/* FIXME-duplication?!? If we put this near the top, it gets ignored. */

.committee-popup .party-D     td { background: #9cf; color: #000; }
.committee-popup .party-R     td { background: #ff5f5f; color: #000; }
.committee-popup .party-DTS   td { background: #c9f; color: #000; }
.committee-popup .party-multi td { background: #c9f; color: #000; }

.committee-popup a { color: #000; text-decoration: underline; }
.popup-container .popup .popup-inner .popup-content a {
  color: #000;
}

.popup-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 250ms all;
}
.popup-container .popup .popup-inner {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 35em;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  transition: 250ms all;
}
.popup-container .popup .popup-inner .popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.popup-container .popup .popup-inner .popup-title h6 {
  font-size: 18px;
  font-weight: 500;
}
.popup-container .popup .popup-inner .popup-title .popup-close-btn {
  cursor: pointer;
  background: #eee;
  display: block;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  color: #222;
  border-radius: 3px;
}
.popup-container .popup .popup-inner .popup-content ul li {
  margin-bottom: 10px;
}
.popup-container .popup .popup-inner .popup-content ul li:last-child {
  margin-bottom: 0;
}
.popup-container .popup .popup-inner .popup-content ul li input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 34px;
  padding: 0 15px;
  font-size: 14px;
  box-sizing: border-box;
}
.popup-container .popup .popup-inner .popup-content ul li button {
  width: 100%;
  line-height: 34px;
  background: #666;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
.popup-container .popup .popup-inner .popup-content ul li button:hover {
  background: #444;
}
.popup-container .popup .transparent-label {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}
.popup-container > input {
  display: none;
}
.popup-container > input:checked + .popup {
  opacity: 1;
  visibility: visible;
}
.popup-container > input:checked + .popup .popup-inner {
  top: 50%;
}
